# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build/
dist
dist-electron
dist-ssr
src/backend/database.sqlite
src/backend/venv
src/backend/__pycache__
src/backend/Graph/__pycache__
src/backend/app.spec
*.pyc
!docs/screenshots/.gitkeep

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
